/* montserrat-100 - latin */
@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 100;
    src: local(""), url("../fonts/montserrat-v15-latin-100.woff2") format("woff2"),
      /* Chrome 26+, Opera 23+, Firefox 39+ */
        url("../fonts/montserrat-v15-latin-100.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* montserrat-200 - latin */
  @font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 200;
    src: local(""), url("../fonts/montserrat-v15-latin-200.woff2") format("woff2"),
      /* Chrome 26+, Opera 23+, Firefox 39+ */
        url("../fonts/montserrat-v15-latin-200.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* montserrat-300 - latin */
  @font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 300;
    src: local(""), url("../fonts/montserrat-v15-latin-300.woff2") format("woff2"),
      /* Chrome 26+, Opera 23+, Firefox 39+ */
        url("../fonts/montserrat-v15-latin-300.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* montserrat-regular - latin */
  @font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    src: local(""),
      url("../fonts/montserrat-v15-latin-regular.woff2") format("woff2"),
      /* Chrome 26+, Opera 23+, Firefox 39+ */
        url("../fonts/montserrat-v15-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* montserrat-500 - latin */
  @font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    src: local(""), url("../fonts/montserrat-v15-latin-500.woff2") format("woff2"),
      /* Chrome 26+, Opera 23+, Firefox 39+ */
        url("../fonts/montserrat-v15-latin-500.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* montserrat-600 - latin */
  @font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    src: local(""), url("../fonts/montserrat-v15-latin-600.woff2") format("woff2"),
      /* Chrome 26+, Opera 23+, Firefox 39+ */
        url("../fonts/montserrat-v15-latin-600.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* montserrat-700 - latin */
  @font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    src: local(""), url("../fonts/montserrat-v15-latin-700.woff2") format("woff2"),
      /* Chrome 26+, Opera 23+, Firefox 39+ */
        url("../fonts/montserrat-v15-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* montserrat-800 - latin */
  @font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 800;
    src: local(""), url("../fonts/montserrat-v15-latin-800.woff2") format("woff2"),
      /* Chrome 26+, Opera 23+, Firefox 39+ */
        url("../fonts/montserrat-v15-latin-800.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* montserrat-900 - latin */
  @font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 900;
    src: local(""), url("../fonts/montserrat-v15-latin-900.woff2") format("woff2"),
      /* Chrome 26+, Opera 23+, Firefox 39+ */
        url("../fonts/montserrat-v15-latin-900.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
/* styles */
ul, li {
  list-style: none;
}
body {
    background-color: #1E1E1E;
    font-family: Montserrat;
}
.header_wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 100px;
}
.header_list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
  list-style: none;
}
.header_item {
  margin-left: 27px;
}
.wrapper {
  max-width: 1440px;
}
.intro_title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 57px;
  line-height: 70px;
  color: #FFFFFF;
  height: 138px;
  width: 590px;
  left: 119px;
  top: 265px;
  margin-left: 60px;

}
.intro_subtitle {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  line-height: 27px;
  color: #FFFFFF;
  height: 108px;
  width: 585px;
  left: 119px;
  top: 443px;
  margin-left: 60px;
}
.intro_button {
  height: 60px;
  width: 284px;
  left: 0px;
  top: 0px;
  border-radius: 0px;
  background: #C10000;
  color: #FFFFFF;
  font-style: Regular;
  font-size: 20px;
  line-height: 27px;
  margin-left: 60px;
}
.intro_img {
  position: absolute;
  width: 554px;
  height: 831px;
  left: 767px;
  top: 193px;
}
.menu_link {
  text-decoration: none;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
color: #FFFFFF;
}
.menu_link:hover,
.menu_link:focus,
.menu_link:active {
  opacity: 0.75;
}
.header_icon:hover,
.header_icon:focus,
.header_icon:active {
  opacity: 0.75;
}